@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Asar');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Asar', serif;
}

canvas.fullscreen {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin:auto;
    max-width: 100%;
    max-height: 100%;
	overflow: auto;
}

div.overlay {
	position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

html, body {
	color: White;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
}

h1 {
    font-family: 'Abril Fatface', cursive;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-horizontal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -500%);
    opacity: 0;
    transition: 0.7s opacity;
}

.palette {
    position: absolute;
    bottom: 0;
    background: white;
    padding-top: 10px;
    width: 100%;
    -moz-box-shadow: 0px -2px 2px #888;
    -webkit-box-shadow: 0px -2px 2px #888;
    box-shadow: 0px -2px 2px #888;
    cursor: auto;
}

img.half {
    height: 32px;
    width: 32px;
}
img.tile {
    padding: 5px;
}
img.tile:hover {
    -moz-box-shadow: 0px -2px 2px #888;
    -webkit-box-shadow: 0px -2px 2px #888;
    box-shadow: 0px -2px 2px #888;
    background: #888;
    -webkit-transform: scale(1.1); /* Saf3.1+, Chrome */
    -moz-transform: scale(1.1); /* FF3.5+ */
    -ms-transform: scale(1.1); /* IE9 */
    -o-transform: scale(1.1); /* Opera 10.5+ */
    transform: scale(1.1);
}

a.button {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: white;
}
a.button:hover {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: gainsboro;
}

.black {
    color: black;
}
div.tutorial {
    position: absolute;
    bottom: 0;
    background: white;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-shadow: 0px -2px 2px #888;
    -webkit-box-shadow: 0px -2px 2px #888;
    box-shadow: 0px -2px 2px #888;
    cursor: auto;
}

h3 {
    padding: 0px;
    -webkit-margin-before: 0.25em;
    -webkit-margin-after: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}